.koo-breadcrumb-root {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  font-size: var(--koo-font-base);
  line-height: var(--koo-font-line-height-base);
  font-family: var(--koo-font-family);
}
