@keyframes koo-carousel-slide-x-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes koo-carousel-slide-x-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes koo-carousel-slide-x-in-reverse {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes koo-carousel-slide-x-out-reverse {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

// for vertical
@keyframes koo-carousel-slide-y-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes koo-carousel-slide-y-out {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes koo-carousel-slide-y-in-reverse {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes koo-carousel-slide-y-out-reverse {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}
