:root {
  // 拂晓蓝色板
  --koo-main-color: #1677ff;
  --koo-blue-base: #1677ff;
  --koo-blue-1: #e6f4ff;
  --koo-blue-2: #bae0ff;
  --koo-blue-3: #91caff;
  --koo-blue-4: #69b1ff;
  --koo-blue-5: #4096ff;
  --koo-blue-6: var(--koo-blue-base);
  --koo-blue-7: #0958d9;
  --koo-blue-8: #003eb3;
  --koo-blue-9: #002c8c;
  --koo-blue-10: #001d66;

  // other color
  --koo-green-base: #52c41a;
  --koo-red-base: #f5222d;
  --koo-gold-base: #faad14;
  --koo-red-3: #ffa39e;
  --koo-red-6: var(--koo-red-base);
  --koo-green-3: #b7eb8f;
  --koo-green-6: var(--koo-green-base);
  --koo-gold-3: #ffe58f;
  --koo-gold-6: var(--koo-gold-base);

  // 中性色板
  --koo-gray-1: #fff;
  --koo-gray-2: #fafafa;
  --koo-gray-3: #f5f5f5;
  --koo-gray-4: #f0f0f0;
  --koo-gray-5: #d9d9d9;
  --koo-gray-6: #bfbfbf;
  --koo-gray-7: #8c8c8c;
  --koo-gray-8: #595959;
  --koo-gray-9: #434343;
  --koo-gray-10: #262626;
  --koo-gray-11: #1f1f1f;
  --koo-gray-12: #141414;
  --koo-gray-13: #000;

  // 主色板
  --koo-color-1: #e6f4ff;
  --koo-color-2: #bae0ff;
  --koo-color-3: #91caff;
  --koo-color-4: #69b1ff;
  --koo-color-5: #4096ff;
  --koo-color-6: var(--koo-main-base);
  --koo-color-7: #0958d9;
  --koo-color-8: #003eb3;
  --koo-color-9: #002c8c;
  --koo-color-10: #001d66;

  // functional color
  --koo-primary-color: var(--koo-blue-base);
  --koo-success-color: var(--koo-green-base);
  --koo-warning-color: var(--koo-gold-base);
  --koo-failed-color: var(--koo-red-base);
  --koo-info-color: var(--koo-gray-7);

  // Different states
  --koo-normal-color: var(--koo-color-6);
  --koo-hover-color: var(--koo-color-5);
  --koo-click-color: var(--koo-color-7);

  // font-family
  --koo-font-family: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  // btn定义颜色
  --koo-btn-disable: black;
  --koo-btn-link-disable: #e4e4e4;
  --koo-btn-danger-unselected: #e80000;
  --koo-btn-danger-selected: #f00;

  // 字体大小
  // 组件文字
  // base: 14px
  --koo-font-sm: 0.75rem;
  --koo-font-base: 0.875rem;
  --koo-font-lg: 1rem;
  --koo-font-xl: 1.5rem;

  // 行距
  --koo-font-line-height-sm: 1.25rem;
  --koo-font-line-height-base: 1.375rem;
  --koo-font-line-height-lg: 1.5rem;
  --koo-font-line-height-xl: 2rem;

  // 排板
  // base: 16px
  --koo-text-xs: 0.75rem; // 12px
  --koo-text-sm: 0.875rem; // 14px
  --koo-text-base: 1rem; // 16px
  --koo-text-lg: 1.125rem; // 18px

  // 字重
  --koo-font-weight-regular: 400;
  --koo-font-weight-medium: 500;
  --koo-font-weight-semibold: 600;
}
