$main-color: #1677ff;
$blue-base: #1677ff;
$blue-1: #e6f4ff;
$blue-2: #bae0ff;
$blue-3: #91caff;
$blue-4: #69b1ff;
$blue-5: #4096ff;
$blue-6: $blue-base;
$blue-7: #0958d9;
$blue-8: #003eb3;
$blue-9: #002c8c;
$blue-10: #001d66;
$color-1: #e6f4ff;
$color-2: #bae0ff;
$color-3: #91caff;
$color-4: #69b1ff;
$color-5: #4096ff;
$color-6: $main-color;
$color-7: #0958d9;
$color-8: #003eb3;
$color-9: #002c8c;
$color-10: #001d66;
