.koo-input-wrapper {
  display: flex;
  width: 100%;

}


.koo-input-group-prefix,
.koo-input-group-suffix {
  display: flex;
  align-items: center;
  font-weight: var(--koo-font-weight-semibold);
  color: var(--koo-gray-1);
  text-align: center;
  background-color: var(--koo-color-3);
  white-space: nowrap;
}
